<div class="container">
    <h1 class="text-center">2241 Stratford</h1>
    <div class="jumbotron">
        <h2 class="text-center">Current Winner: {{model.currentWinner.first_name}}</h2>
        <div class="table-responsive">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="cursor" {{action 'sortColumn' 'total_badges'}}>Badges {{glyphicon-sort sort_column=sort_column sort_argument='total_badges' order=order desc='desc'}}</th>
                        <th class="cursor" {{action 'sortColumn' 'total_beers'}}>Unique  {{glyphicon-sort sort_column=sort_column sort_argument='total_beers' order=order desc='desc'}}</th>
                        <th class="cursor" {{action 'sortColumn' 'total_checkins'}}>Checkins  {{glyphicon-sort sort_column=sort_column sort_argument='total_checkins' order=order desc='desc'}}</th>
                        <th class="cursor" {{action 'sortColumn' 'total_friends'}}>Friends  {{glyphicon-sort sort_column=sort_column sort_argument='total_friends' order=order desc='desc'}}</th>
                        <th class="cursor" {{action 'sortColumn' 'total_created_beers'}}>Created  {{glyphicon-sort sort_column=sort_column sort_argument='total_created_beers' order=order desc='desc'}}</th>
                        <th class="cursor" {{action 'sortColumn' 'total_photos'}}>Photos  {{glyphicon-sort sort_column=sort_column sort_argument='total_photos' order=order desc='desc'}}</th>
                        <th class="cursor" {{action 'sortColumn' 'date_joined'}}>Joined  {{glyphicon-sort sort_column=sort_column sort_argument='date_joined' order=order desc='desc'}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each model.users as |user|}}
                    <tr>
                        <td>{{user.first_name}} {{user.last_name}}</td>
                        <td>{{user.total_badges}}</td>
                        <td>{{user.total_beers}}</td>
                        <td>{{user.total_checkins}}</td>
                        <td>{{user.total_friends}}</td>
                        <td>{{user.total_created_beers}}</td>
                        <td>{{user.total_photos}}</td>
                        <td>{{moment-format user.date_joined 'MMM YYYY'}} </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table> 
        </div>
    </div>
</div>

{{outlet}}